<a href="https://colab.research.google.com/github/Shalini0512/cv/blob/main/BMI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
jsonStr = '''[{"Gender": "Male", "HeightCm": 171, "WeightKg": 96 },
{ "Gender": "Male", "HeightCm": 161, "WeightKg": 85 },
{ "Gender": "Male", "HeightCm": 180, "WeightKg": 77 },
{ "Gender": "Female", "HeightCm": 166, "WeightKg": 62},
{"Gender": "Female", "HeightCm": 150, "WeightKg": 70},
{"Gender": "Female", "HeightCm": 167, "WeightKg": 82}]'''
df = pd.read_json(jsonStr)
print(df)

   Gender  HeightCm  WeightKg
0    Male       171        96
1    Male       161        85
2    Male       180        77
3  Female       166        62
4  Female       150        70
5  Female       167        82

In [ ]:
df['BMI'] = df['WeightKg']/((df['HeightCm']/100)**2)
category = []
risk = []
for row in df['BMI']:
    if row <= 18.4 :
      category.append('Underweight')
      risk.append("Malnutrition risk")
    elif row > 18.4 and row<=24.9:
      category.append('Normal weight')
      risk.append("Low risk")
    elif row > 24.9 and row<=29.9:
      category.append('Overweight')
      risk.append("Enhanced risk")
    elif row > 29.9 and row<=34.9:
      category.append('Moderately obese')
      risk.append("Medium risk")
    elif row > 34.9 and row<=39.9:
      category.append('Severely obese')
      risk.append("High risk")
    else:
      category.append('Very severely obese')
      risk.append("Very high risk")

df['BMI Category']= category
df['Health risk']= risk 
df

   Gender  HeightCm  WeightKg        BMI      BMI Category    Health risk
0    Male       171        96  32.830615  Moderately obese    Medium risk
1    Male       161        85  32.791945  Moderately obese    Medium risk
2    Male       180        77  23.765432     Normal weight       Low risk
3  Female       166        62  22.499637     Normal weight       Low risk
4  Female       150        70  31.111111  Moderately obese    Medium risk
5  Female       167        82  29.402273        Overweight  Enhanced risk